# Ignore data and large files
*.rds
*.csv
*.tif
*.nc
*.RData*
.RDataTmp
.DS_Store

# Ignore folders that store data
ANEEL/
Lightning/
GADM/
WBDB/
CSVNew/
CSV/
Outputs/
Downloads/

# RStudio-related
.Rproj.user/
.Rhistory
.RData
.Ruserdata
