# Ignore data 
*.rds
*.csv
*.tif
*.nc
*.RData*
*.feather
*.xls
*.xlsx
*.parquet
*.zip
*.docx
*.pdf
*.png
*.txt
*.gpkg

/Figures/
data/
structural_model/
OldCode/

.RDataTmp
.DS_Store

# Ignore folders that store data
#ANEEL/
#Lightning/
#GADM/
#WBDB/
#CSVNew/
#CSV/
#Outputs/
#Downloads/

# RStudio-related
.Rproj.user/
.Rhistory
.RData
.Ruserdata
